<%= form_with model: [@chat, @message] do |form| %>
    <%= render 'messages/errors', message: @message %>


  <div>
    <%= form.label :body, class: 'block'%>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.label :attachments %><br />
    <%= form.file_field :attachments, multiple: true %>
  </div>


  <%= form.submit %>

<% end %>
