<%= form_with model: [@chat, @message], data: { controller: 'file-upload' } do |form| %>
    <%= render 'messages/errors', message: @message %>


  <div>
    <%= form.text_area :body, class: 'rounded' %>
  </div>


  <div class=>
    <button data-action="click->file-upload#customUpload">Custom Upload</button>
    <%= form.file_field :attachments, multiple: true, class:"hidden", data: { "file-upload-target": "originalButton" }  %>
  </div>


  <%= form.submit %>

<% end %>



