<div id=<%= dom_id(message) %>>
  <div class="flex items-start user_<%= message.sender_id %>">
    <% if message.sender.avatar.presence %>
      <%= image_tag url_for(message.sender.avatar.variant(:small_thumb)), class: "rounded-full border-2 border-black" %>
    <% end %>
    <div>
      <div class="flex items-center gap-2">
        <div class="text-xl">
          <%= message.sender.username %>
        </div>
          <% unless message.deleted %>
            <p class="text-xs font-thin"> <%= message.formatted_created_at %> </p>
          <% end %>
      </div>
      <div class="message w-fit p-2 rounded bg-white m-2">
        <%= render 'messages/message_images', message: %>
        <%= message.body %>
      </div>

    </div>
  </div>
</div>