<div id=<%= dom_id(message) %>>
  <div class="user_<%= message.sender_id %>">
    <div class="message w-fit p-2 rounded bg-white">
      <%= render 'messages/message_images', message: %>
      <%= message.body %>
    </div>
    <div class="font-thin text-xs">
      <% unless message.deleted %>
        <%= message.formatted_created_at %>
      <% end %>
    </div>
  </div>
</div>