<h1>Users in this chat</h1>
<div class="flex -space-x-3">
  <% z_index = 0 %>
  <% @chat.users.each_with_index do |user, index| %>
    <% if user.avatar.presence %>
      <%= image_tag user.avatar.variant(:small_thumb), class: "rounded-full z-#{z_index} border-2 border-black" %>
    <% end %>
    <% z_index += 5 %>
  <% end %>
</div>
<br>



<%= turbo_stream_from :messages_list %>
    <div id = <%= dom_id(@chat, 'messages_for') %> >
      <% @chat.messages.each do |message| %>
        <% if message.valid? %>
          <%= render 'messages/message', message: %>
        <% end %>
      <% end %>
    </div>


<%= render 'messages/form' %>