<h1>Users in this chat</h1>
<% @chat.users.each do |user| %>
  <%= user.username %>
<% end %>
<br>



<%= turbo_stream_from :messages_list %>
    <div id = <%= dom_id(@chat, 'messages_for') %> >
      <% @chat.messages.each do |message| %>
        <%= render 'messages/message', message: %>
      <% end %>
    </div>


<%= form_for [@chat, @message] do |f| %>
  <%= f.text_field :body, id: "message-body" %>
  <%= f.submit %>
<% end %>