<h1>Users in this chat</h1>
<% @chat.users.each do |user| %>
  <%= user.username %>
<% end %>
<br>

<% @chat.messages.each do |message| %>
  <div>
    <%= message.body %>
    sent by
    <%= message.sender.username unless message.sender.nil? %>
  </div>
<% end %>

<%= form_for [@chat, @message] do |f| %>
  <%= f.text_field :body %>
  <%= f.submit %>
<% end %>